@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  50% {
      opacity: .35;
  }
}

.custom-cursor,
.custom-cursor * {
  cursor: url('/cursor.png'), auto;
}

.animate-pulse {
  animation: pulse .5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@font-face {
    font-family: 'pressStart';
    src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
    /* Add other font file formats if you have them */
  }
  

.space {
    background-image: url('/assets/space.gif');
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-position: 50% 50%, 50% 50%;
    background-size: 101% 101%, cover;
    background-repeat: no-repeat, repeat;
}

.space2 {
    background-image: url('/assets/space2.gif');
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-position: 50% 50%, 50% 50%;
    background-size: 101% 101%, cover;
    background-repeat: no-repeat, repeat;
}

.tv-border {
    background-image: url('/assets/png_gif/tvborder.png');
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-position: 50% 50%, 50% 50%;
    background-size: 101% 101%, cover;
    background-repeat: no-repeat, repeat;
  }